.app-label {
    float: left;
    width: 50px;
}

.app-value {
    float: left;
}

.app-price {
    float: left;
    margin-left: 10px;
}

.app-button {
    float: left;
    margin-right: 10px;
}

.app-spacer {
    clear: both;
    height: 10px;
}

#app-persons .app-label{
    width: 30px;
}

#app-items .app-label{
    width: 30px;
}

input.app-remove, input.app-show{
    margin-left: 10px;
}
