.app-label-word {
    float: left;
    width: 50px;
}

.app-label {
    float: left;
    width: 30px;
}

.app-value {
    float: left;
}

.app-value input {
    /*width: 100px;*/
    width: 100%;
}

.app-price {
    float: left;
    margin-left: 10px;
}

.app-button {
    float: left;
    margin-right: 10px;
}

.app-spacer {
    clear: both;
    height: 10px;
}

input.app-remove, input.app-show {
    float: left;
    margin-left: 10px;
    margin-top: 0px;
}

.app-price {
    float: left;
}

.app-price input {
    width: 60px;
    margin-top: 0px;
}

.app-item-name {
    float: left;
    width: 100px;
    margin-right: 10px;
}

.app-item-price {
    float: left;
    width: 120px;
    margin-left: 10px;
}

.person-checkbox {
    clear:both;
    margin-left: 30px;
}

.app-checkbox {
}

.app-name {
    float: left;
    width: 80px;
}

.app-qty input {
    width: 45px;
}

#svc-charge-label {
    float: left;
    margin-left: 30px;
    width: 120px;
}

#svc-charge-price input {
    width: 60px;
}

.app-item-block {
    clear:both;
}

.app-line {
    clear: both;
    width: 100%;
    height: 1px;
    background-color: gray;
}

.app-line-space {
    clear: both;
    height: 5px;
}

.summary-item-name {
    float: left;
    width: 120px;
}

.summary-item-price {
    float: left;
    width: 50px;
    text-align: right;
}

.summary-qty {
    float: left;
    width: 30px;
    text-align: right;
    margin-right: 10px;
}

.summary-unit-price {
    float: left;
    width: 40px;
}

.summary-placeholder {
    float: left;
    width: 80px;
}

.person-summary {
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    padding: 10px;
    border-radius: 25px;
}

@media screen and (max-width: 430px) {
    input.app-remove, input.app-show{
        margin-left: 30px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 355px) {
    .app-price input{
        margin-top: 10px;
    }

    .app-item-price{
        clear: both;
        width: 120px;
        margin-left: 30px;
        margin-top: 10px;
    }

    input.app-remove{
        margin-left: 10px;
        margin-top: 10px;
    }

    input.app-show{
        clear: both;
        margin-left: 30px;
        margin-top: 10px;
    }
}