.app-label {
    float: left;
    width: 50px;
}

.app-value {
    float: left;
}

.app-button {
    clear: both;
}

.app-spacer {
    clear: both;
    height: 10px;
}

#app-persons .app-label {
    width: 30px;
}

.app-remove {
    margin-left: 10px;
}